*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://images.pexels.com/photos/21492/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1600");
    no-repeat;
    background-size: cover;
}

.clock{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.7);
    height: 24vh;
    border-radius: 20px;
    padding: 20px;
}

.clock h1{
    font-size: 70px;
    font-weight: 600;
}

.clock span{
    position: relative;
    top: -13%;
    margin-left: 5px;
    font-size: 25px;
    font-weight: 700;
}

@media screen and (max-width: 400px){
    .clock{
        max-width: 250px;
    }
    .clock h1{
        font-size: 35px;
    }
}